.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 48px 0;
  margin: 0px;
}

.card {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.card__image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  background: white;
  color: black;
  margin: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}

.card__location {
  margin: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #000;
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.card__like-button {
  background: transparent url(../images/heart.svg) center;
  width: 21px;
  height: 18px;
  border: none;
  transition: opacity 0.5s;
}

.card__like-button:hover {
  opacity: 50%;
}

@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
    height: 286px;
  }

  .profile__name {
    color: #fff;
    text-align: center;
    font-family: "Inter", Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 196px;
    height: 22px;
    flex-shrink: 0;
  }

  .profile__image {
    margin: 0px;
  }

  .profile__info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    margin-top: 26.5px;
  }

  .profile__description {
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 282px;
    flex-shrink: 0;
    margin-top: 14px;
  }

  .profile__add-button {
    margin: 0px;
    min-width: 282px;
    padding: 0px 19px;
    margin-top: auto;
  }

  .profile__edit-button {
    margin-left: 10px;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    margin-bottom: 0px;
  }

  .card__list {
    margin: 0px;
  }
  .card__list:first-child {
    padding-top: 36px;
  }
  .footer {
    width: 282px;
    height: 14px;
    flex-shrink: 0;
    padding-bottom: 36px;
  }
}

@media screen and (max-width: 877px) {
  .footer {
    max-width: 585px;
  }
}
