.footer {
  color: #545454;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 42px;
}

.footer__copyright {
  margin-top: 62px;
}

@media screen and (max-width: 877px) {
  .footer {
    max-width: 585px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    max-width: 282px;
    flex-shrink: 0;
    padding-bottom: 60px;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: normal;
    margin-bottom: 0px;
    margin-top: 48px;
  }
}
